body {
  font-family: 'Montserrat', sans-serif;
}

#title {
  background-color: #ff4c68;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/*Rotating Picture*/
.rotate-pic {
  position: absolute;
  transform: rotate(25deg);
  width: 60%;
  right: 30%;
}

/*Navbar*/
.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: 400;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}

.navbar {
  padding: 0 0 4.5rem;
}

/*Download Buttons*/
.download-button {
  margin: 5% 3% 5% 0;
}

/*Features Section*/
.box1 {
  text-align: center;
  padding: 5%;
}

#features {
  position: relative;
  z-index: 2;
  background-color: #fff;
  padding: 7% 15%;
}

.features-img {
  color: #ef8172;
  margin-bottom: 0.5rem;
}

.features-img:hover {
  color: #ff4c68;
}

h3 {
  font-size: 1.4rem;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #8f8f8f;
}

/* Testimonial Sections */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 10px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3rem;
}

.logo-pic {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing-Section */
#pricing {
  text-align: center;
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .rotate-pic {
    transform: rotate(0deg);
    position: static;
    right: 0;
  }
}

/* Call to Action */
#cta {
  text-align: center;
  background-color: #ff4c68;
}

.cta-text {
  padding: 4% 10% 0;
  font-size: 3rem;
  color: white;
}

.cta-btn {
  margin: 4% 3% 1% 0;
}

/* Footer */
#footer {
  text-align: center;
  background-color: #fff;
}

#footer .container-fluid{
  padding: 1%;
}

.footer-icon {
  margin: 2% 1%;
}

.footer-icon:hover {
  color: #ff4c68;
}
